// Specific Colors
$primary-color: #3caeef;
$secondary-color: #38a5e3;
$nevada: #6d6e72;
$dark-gray: #c7c9ca;
$mid-gray: #bbbec0;
$iron-gray: #e6e7e8;
$white-haze: #f1f3f2;

//genral colors
$white: #ffffff;
$dark: #333333;

// Fonts
//$title-font: Roboto

// Roboto, Google sans , Product sans (Regular)
